@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --gradient: #00467f;
    --background: 220 100% 98.5%;
    --foreground: 220 10% 1%;
    --muted: 220 10% 92.5%;
    --muted-foreground: 220 5% 42.5%;
    --popover: 220 10% 92.5%;
    --popover-foreground: 220 10% 1.25%;
    --card: 220 10% 92.5%;
    --card-foreground: 220 10% 1.25%;
    --border: 220 15% 90%;
    --input: 220 15% 90%;
    --primary: 220 100% 25%;
    --primary-foreground: 220 2% 92.5%;
    --secondary: 220 5% 96.25%;
    --secondary-foreground: 220 7% 12.5%;
    --accent: 220 5% 96.25%;
    --accent-foreground: 220 7% 12.5%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --ring: 220 100% 25%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 50% 10%;
    --foreground: 222.2 5% 90%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 220 100% 25%;
    --primary-foreground: 220 2% 92.5%;

    --secondary: 220 5% 96.25%;
    --secondary-foreground: 220 7% 12.5%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 220 100% 25%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    min-height: 100vh;
    height: 100%;
  }
}

.appWidth {
  width: auto;
  margin-left: calc(2rem - 1rem / 2);
  margin-right: calc(2rem - 1rem / 2);

  @media (min-width: 1280px) {
    margin-right: auto;
    margin-left: auto;
    max-width: calc(80rem - 2rem * 2);
    /* max-width: 76rem; */
  }
}
